#container {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 40px 0;
	width: 100%;
}

#section {
	padding: 80px 90px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#section h1, #section h2, #section h3 {
	color: #1A7597;
}

img {
	width: 30%;
	position: relative;
	border-radius: 7px;
	margin: 50px;
}

#elenco {
	font-size: 18px;
	line-height: 1.8;
}

p.elemento {
	padding:5px;
}

a#select {
	font-size: 15px;
	text-decoration: underline;
	color: #1A7597;
}

a:hover#select{
	color: black;
	border-color: black;
}

.section-item {
	margin: 20px 0;
	padding-bottom: 15px;
	margin-bottom: 20px;;
}

#button {
	position: relative;
	font-size: 18px;
	padding: 3px;
	border-style: solid;
	color: white;
	background-color: #1A7597;
	border-radius: 3px;
	margin: 10px 0;
}

#button:hover {
	color: #1A7597;
	background-color: white;
}

#buttons {
	display: flex;
	flex-direction: row;
}

.bottone {
	margin: 15px 15px 0px 0px;
	font-size: 18px;
	padding: 3px;
	border-style: solid;
	color: white;
	border-color: #1A7597;
	border-radius: 5px;
}

.eliminazione {
	margin: 15px 15px 0px 0px;
	font-size: 18px;
	padding: 2px;
	border-style: solid;
	color: #b02954;
	border-color: #b02954;
	border-radius: 5px;
}

a:hover .eliminazione {
	color: white;
	border-color: white;
	background-color: #b02954;
}

.conferma {
	margin: 15px 15px 0px 0px;
	font-size: 18px;
	padding: 2px;
	border-style: solid;
	color: #6a8f14;
	border-color: #6a8f14;
	border-radius: 5px;
}

a:hover .conferma {
	color: white;
	border-color: white;
	background-color: #6a8f14;
}

.zonaConferme {
	margin:15px;
	padding: 3px;
}

strong.rosso {
	color: #b02954;
}

strong.verde {
	color: #1A7597;
}

.titoli {
	padding-bottom: 15px;
	margin:15;
}
