<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<nav>
			<div id="logo">
				<a th:href="@{/home}"><strong class="galleria">GALLERIA D'ARTE</strong></a>
			</div>
			<ul id="navigation">
				<li class="nav-item"><a th:href="@{/home}">Home</a></li>
				<li class="nav-item"><a th:href="@{/gallerie}">Le gallerie</a></li>
				<li class="nav-item"><a th:href="@{/artisti}">Gli artisti</a></li>
				<li class="nav-item"><a th:href="@{/opere}">Le opere</a></li>
				<li class="nav-item"><a th:href="@{/clienti}">I clienti</a></li>
				<li class="nav-item"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</nav>
	</header>
	
	<div th:fragment="sfondo1" id="sfondo1"></div>
	<div th:fragment="sfondo2" id="sfondo2"></div>
</body>
</html>