<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<nav>
			<div id="logo">
				<a th:href="@{/home}"><strong class="galleria">GALLERIA D'ARTE</strong></strong></a>
			</div>
			<ul id="navigation">
				<li class="nav-item"><a th:href="@{/home}">Home</a></li>
				<li class="nav-item"><a th:href="@{/gallerieUtente}">Le gallerie</a></li>
				<li class="nav-item"><a th:href="@{/artistiUtente}">Gli artisti</a></li>
				<li class="nav-item"><a th:href="@{/opereUtente}">Le opere</a></li>
				<li class="nav-item"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>