<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
		<title>Dettagli Artista</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/descrizioni.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">    
	</head> 

	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>
		<div id="sfondo-artista"></div>
		<div id="section">
			<div class="section-item">
				<div><strong>Nome: </strong>
				<span th:text="${artista.nome}">Nome Artista</span></div>
				<div><strong>Cognome: </strong>
				<span  th:text="${artista.cognome}">Cognome Artista</span></div>
				<div><strong>Nazionalita': </strong>
				<span  th:text="${artista.nazionalita}">Nazionalita'</span></div>
			</div>
			<div class="section-item" id="buttons">
				<div class="button">
					<p><a th:href="@{'/artistaUtente' + '/' + ${artista.id} + '/' + 
								'opereUtente'}" href="#"><strong class="conferma">Consulta Opere dell'artista</strong></a>
					</p>
				</div>
			</div>
		</div>				
	</body>

</html>