<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>  
	   <meta charset="ISO-8859-1" />
	    <title>Home - utente</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/home.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head> 
	
	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>
		
		<div class="section">
			<div class="images-row">
				<div class="image-item">
					<a th:href="@{/gallerieUtente}"><img src="../images/galleria2.jpg" alt="img1"></a>
					<a class="link" th:href="@{/gallerieUtente}">Consulta le gallerie</a>
				</div>
				<div class="image-item">
					<a th:href="@{/artistiUtente}"><img src="../images/fridakahlo-autoritratto.jpg" alt="img2"></a>
					<a class="link" th:href="@{/artistiUtente}">Consulta gli artisti</a>
				</div>
				<div class="image-item">
					<a th:href="@{/opereUtente}"><img src="../images/magritte-gliamanti.jpg" alt="img3"></a>
					<a class="link" th:href="@{/opereUtente}">Consulta le opere</a>
				</div>
			</div>
		</div>
		
		<a name="contact"><div class="contacts">
			<div id="text-section">
				<h2>Contatti</h2>
				<h3>Non esitare a contattarci</h3>
				<div>Per richiedere un preventivo scrivi al nostro indirizzo di posta elettronica: preventivi@galleriarte.it</div>
				<div>Oppure chiama il numero +39 123 456 7890</div>
			</div>
		</div></a>
	
	</body>
</html>