<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
		<meta charset="ISO-8859-1" />
	    <title>Galleria</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/form.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: sfondo1"></div>
		<div id="text">
				<form id="form" th:action="@{/login}" method="POST">
					<div><h3>Effettua l'accesso al tuo account</h3></div>
					<div class="form-item">
						<div>Username:</div>
						<div><input name="username" type="text" required /></div>
					</div>		
					<div class="form-item">
						<div>Password:</div>
						<div><input name="password" type="password" required /></div>
					</div>
					<div class="button">
						<div><button type="submit">Login</button></div>
					</div>
				</form>
			</div>
	</body>
</html>