<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
	    <title>Opere - utente</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	  
	</head> 
	
	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>	
		<div id="container">
			<div id="section">
				<div th:if="${!opere.empty}" class="section-item">
					<div class="titoli" th:if="${galleria != null}"><h1><span>Le opere della galleria: </span><span th:text="${galleria.nome}"></span></h1></div>
					<div class="titoli" th:if="${artista != null}"><h1><span>Le opere dell'artista: </span><span th:text="${artista.nome} + ' ' + ${artista.cognome}"></span></h1></div>
					<div class="titoli" th:if="${artista==null && galleria==null}"><h1>Le nostre opere</h1></div>
					<ul id="elenco">
						<li th:each="opera: ${opere}">
							<span>
								<a th:href="@{'/operaUtente' + '/' + ${opera.id}}"
						   		th:text="${opera.nome}">Opera</a>
						   		<span th:if="${opera.cliente != null}">(Venduta)</span>
						   		<span th:unless="${opera.cliente != null}">(Disponibile)</span>
						   	</span>
						</li>	   	
					</ul>
				</div>
				<div th:unless="${!opere.empty}" class="section-item">
					<h2>Non ci sono ancora opere censite</h2>
				</div>
			</div>
				
			<img src="/images/vangogh-vasodigirasoli.jpg"></img>
		</div>
	</body>

</html>