<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title>Galleria d'Arte</title>
		<link rel="stylesheet" href="css/my-style.css" />
		<link rel="stylesheet" href="css/form.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header th:replace="fragments/baseUtente.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: sfondo1"></div>
		<div id="register-text">  	
			<form id="form" th:action="@{/register}" method="POST">
				<div><h3>Registrati</h3></div>
			        <div class="form-item">
			            <div>Username</div>
			            <div><input type="text" placeholder="username" required
			                       th:field="${credenziali.username}"/></div>
			            <div th:if="${#fields.hasErrors('credenziali.username')}"
			                th:errors="${credenziali.username}" th:style="'color:red'"></div>
			        </div>
			        <div class="form-item">
			            <div>Password</div>
			            <div><input type="password" placeholder="password" required
			                       th:field="${credenziali.password}"/></div>
			            <div th:if="${#fields.hasErrors('credenziali.password')}"
			                th:errors="${credenziali.password}" th:style="'color:red'"></div>
			        </div>
			        <div class="form-item">
			            <div>Nome</div>
			            <div><input type="text" placeholder="nome" required
			                       th:field="${utente.nome}"/></div>
			            <div th:if="${#fields.hasErrors('utente.nome')}"
			                th:errors="${utente.nome}" th:style="'color:red'"></div>
			        </div>
			        <div class="form-item">
			            <div>Cognome</div>
			            <div><input type="text" placeholder="cognome" required
			                       th:field="${utente.cognome}"/></div>
			            <div th:if="${#fields.hasErrors('utente.cognome')}"
			                th:errors="${utente.cognome}" th:style="'color:red'"></div>
			        </div>
			        <div class="button">
			                <button type="submit">Registra</button>
			        </div>
			</form>
		</div>
	</body>
</html>
