<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1" />
	    <title>Associa opera a galleria</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		<div id="container">
			<div id="section">
				<div><h3>Sei sicuro di voler associare l'opera 
					<span th:text="${opera.nome}">Nome opera </span>
					(<span th:text="${opera.descrizione}">Descrizione </span>)
					<span>alla galleria </span><span th:text="${galleria.nome}"></span>?</h3></div>
				<div id="buttons">
					<div class="bottone">
						<a th:href="@{'/confermaAssociazione' + '/' + ${opera.id} + '/' + ${galleria.id}}"><strong class="verde">CONFERMA</strong></a>
					</div>
					<div class="bottone">
						<a th:href="@{'/galleria' + '/' + ${galleria.id} + '/' + 'scegliNuovaOpera'}" ><strong class="rosso">ANNULLA</strong></a>
					</div>
				</div>
			</div>
			<img src="/images/vangogh-vasodigirasoli.jpg"></img>
		</div>	
	</body>
</html>