<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
	    <title>Clienti</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	</head> 
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		<div id="container">	
			<div id="section">
				<div th:if="${!clienti.empty}" class="section-item">					
					<div class="titoli"><h1>I nostri clienti</h1></div>	

					<ul id="elenco">
						<li th:each="cliente: ${clienti}">
							<p class="elemento">
								<span><strong class="verde">CLIENTE: </strong>
									<a th:href="@{'/cliente' + '/' + ${cliente.id}}"
									th:text="${cliente.nome} + ' ' + ${cliente.cognome}">Rossi</a>
							   	</span>
							   	<span>
							   		<a th:href="@{'/deleteCliente' +'/' + ${cliente.id}}"><strong class="eliminazione">ELIMINA</strong></a>
							   	</span>
							</p>
						</li>	   	
					</ul>
				</div>
				<div th:unless="${!clienti.empty}" class="section-item">
					<div><h2>Non ci sono ancora clienti censiti</h2></div>
				</div>
				<div class="section-item">
					<a id="button" th:href="@{/clienteForm}">Inserisci un nuovo cliente</a>
				</div>
			</div>
			<img src="/images/clienti2.jpg"></img>
		</div>
	</body>

</html>
