<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1" />
	    <title>Inserimento cliente</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/form.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	</head>
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: sfondo1"></div>

			<div id="text">
				<form id="form" th:action="@{/cliente}" method="POST" th:object="${cliente}">
					<h3>Inserisci un nuovo cliente</h3>
					<div th:if="${#fields.hasGlobalErrors()}">
			    		<p th:each="err : ${#fields.globalErrors()}" 
			  				th:text="${err}">ERRORE GENERICO</p> 
			  		</div>
					<div class="form-item">
						<div>Nome Cliente: </div>
						<div><span><input type="text" th:field="*{nome}"/></span>
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span></div>
					</div>
					<div class="form-item">
						<div>Cognome Cliente: </div>
						<div><span><input type="text" th:field="*{cognome}"/></span>		
						<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span></div>
					</div>
					<div class="form-item">
						<div>Nazionalita': </div>
						<div><span><input type="text" th:field="*{nazionalita}"/></span>		
						<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span></div>
					</div>
					<div class="button">
						<button type="submit"><strong>Conferma</strong></button>
					</div>
				</form>
			</div>

	<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
	</div>
	</body>

</html>