<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1" />
	    <title>Elimina artista</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>	
		<header th:replace="fragments/base.html :: intestazione"></header>	
		<div id="container">
			<div id="section">
				<div><h3>Sei sicuro di voler eliminare l'artista 
					<span th:text="${artista.nome}">Nome </span>
					<span th:text="${artista.cognome}">Cognome </span>
					<span> e tutte le sue opere?</span></h3></div>	
				<ul th:if="${!artista.opere.empty}" id="elenco">
					<li th:each="opera: ${artista.opere}">
						<span>
							<a th:href="@{'/opera' + '/' + ${opera.id}}"
							th:text="${opera.nome}">Opera</a>
					   	</span>
					</li>	   	
				</ul>
				<div id="buttons">
					<div class="bottone">
						<a th:href="@{'/confermaDeleteArtista' + '/' + ${artista.id}}"><strong class="rosso">CONFERMA</strong></a>
					</div>
					<div class="bottone">
						<a th:href="@{'/artisti'}"><strong class="verde">ANNULLA</strong></a>
					</div>
				</div>
			</div>
			<img src="/images/vangogh-autoritratto.jpg"></img>
		</div>
	</body>
</html>