<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1" />
	    <title>Inserimento indirizzo</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/form.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	</head>
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: sfondo1"></div>

			<div id="text">
				<form id="form" th:action="@{'/cliente' + '/' + ${cliente.id} + '/indirizzo'}" method="POST" th:object="${indirizzo}">
					<h3>Inserisci l'indirizzo del cliente <span th:text="${cliente}">Cliente</span>:</h3>
					<div th:if="${#fields.hasGlobalErrors()}">
			    		<p 	th:each="err : ${#fields.globalErrors()}" 
			  				th:text="${err}">ERRORE GENERICO</p> 
			  		</div>
					<div class="form-item">
						<div>Indirizzo: </div>
						<div><span><input type="text" th:field="*{via}"/></span>
						<span th:if="${#fields.hasErrors('via')}" th:errors="*{via}"></span></div>
					</div>
					<div class="form-item">
						<div>Citta': </div>
						<div><span><input type="text" th:field="*{citta}"/></span>		
						<span th:if="${#fields.hasErrors('citta')}" th:errors="*{citta}"></span></div>
					</div>
					<div class="form-item">
						<div>Cap: </div>
						<div><span><input type="text" th:field="*{cap}"/></span>		
						<span th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}"></span></div>
					</div>
					<div class="button">
						<button type="submit"><strong>Conferma</strong></button>
					</div>
				</form>
			</div>

	<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
	</div>
	</body>

</html>