<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org">
	<head>  
	    <meta charset="ISO-8859-1" />
	    <title>Nuova opera</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	</head> 
	 
	<body> 
		<header th:replace="fragments/base.html :: intestazione"></header>	
	    <div id="container">
			<div id="section">
				<div><h1>Seleziona uno tra i seguenti artisti oppure inseriscine uno nuovo:</h1></div>	
				<ul class="section-item" id="elenco">
					<li th:each="artista: ${artisti}">
						<p class="elemento">
							<span>
								<a th:href="@{'/artista' + '/' + ${artista.id}}"
								th:text="${artista.nome} + ' ' + ${artista.cognome}">Paolo Rossi</a>
						   	</span>
						   	<span>
						   		<a th:href="@{'/artista' +'/' + ${artista.id} + '/' + 'nuovaOpera'}"><strong class="conferma">SELEZIONA</strong></a>
						   	</span>
						</p>
					</li>	   	
				</ul>
				<div class="section-item">
					<a id="button" th:href="@{'/artistaForm'}">Inserisci un nuovo artista</a>
				</div>
			</div>
			<img src="/images/vangogh-autoritratto.jpg"></img>
		</div>
	</body>
</html>