<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
	    <title>Opere - admin</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	  
	</head> 
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		<div id="container">
			<div id="section">
				<div th:if="${!opere.empty}" class="section-item">
					<div class="titoli"><h1>Le nostre opere</h1></div>
					<ul id="elenco">
						<li th:each="opera: ${opere}">
							<p class="elemento">
								<span> <strong class="verde">OPERA: </strong>
									<a th:href="@{'/opera' + '/' + ${opera.id}}"
							   		th:text="${opera.nome}">Opera</a>
							   	</span> 
							   	<span th:if="${opera.cliente != null}">(Venduta)</span>
							   	<span th:unless="${opera.cliente != null}">(Disponibile)</span>
							    <span th:if="${opera.gallery != null}">
									<strong class="verde"> - GALLERIA:</strong>
									<a href="#" th:href="@{'/galleria' + '/' + ${opera.gallery.id}}"
									th:text="${opera.gallery.nome}">Galleria</a></a>
								</span> 
							   	<span th:if="${opera.cliente == null}">
							   		<span>
										<a href="#" th:href="@{'/deleteOpera' + '/' + ${opera.id}}"><strong class="eliminazione">ELIMINA</strong></a> 
									</span>
								</span>
							</p>
						</li>	   	
					</ul>
				</div>
				<div th:unless="${!opere.empty}">
					<div class="section-item">
						<h2>Non ci sono ancora opere censite</h2>
					</div>
				</div>
				<div class="section-item">
					<a id="button" th:href="@{/newOpera}">Inserisci una nuova opera</a>
				</div>
			</div>
			<img src="/images/vangogh-vasodigirasoli.jpg"></img>
		</div>
	</body>

</html>