<<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1" />
	    <title>Inserimento opera</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/form.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	</head>

	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: sfondo1"></div>
		
			<div id="text">
				<form id="form" th:action="@{'/artista' + '/' + ${artista.id} + '/' + 'opera'}" method="POST" th:object="${opera}">
					<h3>Inserisci una nuova opera</h3>
					<div th:if="${#fields.hasGlobalErrors()}">
			    		<p 	th:each="err : ${#fields.globalErrors()}" 
			  				th:text="${err}">ERRORE GENERICO</p> 
			  		</div>
					<div class="form-item">
						<div>Nome opera: </div>
						<div><span><input type="text" th:field="*{nome}"/></span>
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span></div>
					</div>
					<div class="form-item">
						<div>Descrizione: </div>
						<div><span><input type="text" th:field="*{descrizione}"/></span>		
						<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span></div>
					</div>
					<div class="button">
						<button type="submit"><strong>Conferma</strong></button>
					</div> 
				</form>
			</div>

	</body>

</html>