<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
	    <title>Opere non associate</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	</head> 
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		<div id="container">
			<div id="section">
				<div class="section-item" th:if="${!galleria.opere.empty}">
					<div class="titoli"><h2>Opere gia' associate alla galleria: <span th:text="${galleria.nome}"></span></h2></div>
					<div>
						<ul id="elenco">
							<li th:each="opera: ${galleria.opere}">
								<span>
									<a th:href="@{'/opera' + '/' + ${opera.id}}"
									   th:text="${opera.nome}">Opera </a>
							   	</span>
							</li>	   	
						</ul>
					</div>
				</div>
				<div class="section-item" th:if="${!opere.empty}">
					<div class="titoli"><h2>Vuoi associare un'opera alla galleria: <span th:text="${galleria.nome}"></span>?</h2></div>
					<ul id="elenco">
						<li th:each="opera: ${opere}">
							<p class="elemento">
								<span>
									<a th:href="@{'/opera' + '/' + ${opera.id}}"
									   th:text="${opera.nome}">Opera </a>
							   	</span>
							   	<span>
									<a th:href="@{'/associaOpera' + '/' + ${opera.id}+ '/' + ${galleria.id}}"><strong class="conferma">ASSOCIA ALLA GALLERIA</strong></a>
								</span>
							</p>
						</li>	   	
					</ul>
				</div>
				<div class="section-item" th:unless="${!opere.empty}">
					<div class="titoli">
						<h2>Al momento non ci sono opere disponibili da associare alla galleria: 
					<span th:text="${galleria.nome}"></span></h2></div>
				</div>
			</div>
			<img src="/images/galleria1.jpg"></img>
		</div>
	</body>

</html>